.container {
    margin-top: 50px;
    width: 70%;
}

.nav-tabs {
    border-bottom: none;
}

#myTab .nav-item {
    background-color: gainsboro;

    margin-right: 5px;
    transition: all.5s;
    height: 40px;
}

#myTab .nav-item a {
    color: black;
}

#myTab .nav-item .active {
    background-color: black;
    color: gainsboro;
    font-weight: bold;
    border: none;
    height: 40px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.tab-content {
    padding: 50px 50px;
    background-color: rgb(0, 0, 0, .8);
    height: 60vh;
    color: gainsboro;
}

.content input {
    width: 40%;
    margin-bottom: 20px;
    margin-right: 10px;
}



/* CSS */
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: black;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-5:hover,
.button-5:focus {
    background-color: #A9A9A9;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: black;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}